<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>

<p>
  <strong>Original name:</strong>
  <%= @author.original_name %>
</p>

<%= link_to t('actions.edit'), edit_author_path(@author) %> |
<%= link_to t('back'), authors_path %>
