<div class="d-flex align-items-center mb-3">
  <h1 class="mb-0 me-3"><%= t('.title') %></h1>
</div>

<% can_edit = policy(User).access? %>

<div class="row">
  <% @users.each do |user| %>
    <div class="card mb-4">
      <div class="card-body d-flex justify-content-between">
        <%= link_to user.nickname, user, class: 'fs-4' %>
        <% if can_edit %>
          <%= link_to edit_admin_user_path(user), class: 'btn btn-success', title: :edit do %>
            <i class="bi bi-pencil-square"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
