<div class="row mt-4 books">
  <% books.each do |book| %>
    <div class="col-6 col-md-3 col-lg-2 mb-4">
      <div class="book-cover-card">
        <%= link_to book, class: 'vertical-card-link' do %>
          <% if book.image.attached? %>
            <span class="vertical-card-img"
                  style="background-image: url(<%= rails_blob_url(book.image) %>)">
            </span>
          <% else %>
            <span class="bg-secondary image-plug">
              <%= book.title %>
            </span>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
