* {
  margin: 0;
  padding: 0;
}

.book-cover {
  position: relative;
  padding-bottom: 120%;
  color: #ffffff;

  &-plug {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      flex-shrink: 0;
      min-width: 100%;
      min-height: 100%
    }
  }
}
